[Unit]
Description=Luna Application Manager
Requires=ls-hubd.service
After=ls-hubd.service luna-displaymanager.service

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/sbin/LunaAppManager
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target
